{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/home" class="navbar-brand">eVoting</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">


<ul class="nav navbar-nav">
    {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}

    <li>
        <a href="{% url 'election:election-name' %}">Elections</a>
    </li>
    <li>
        <a href="{% url 'election:results' %}">Results</a>
    </li>
    {% if user.role == 2 %}
    <li>
        <a href="{% url 'election:create-election' %}">Create Election</a>
    </li> {% endif %}

</ul>
        </nav>
    </div>
</header>