<ul>
    {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}

    <li>
        <a href="{% url 'election:election-name' %}">Elections</a>
    </li>
    <li>
        <a href="">Results</a>
    </li>
    {% if user.role == 2 %}
    <li>
        <a href="{% url 'election:create-election' %}">Create Election</a>
    </li> {% endif %}
</ul>