{% extends 'base.html' %}

{% block content %}
  <h1>Election: {{ election.name }}</h1>

  <p><strong>Description:</strong> {{ election.description }}</p>
  <p><strong>Start Date:</strong> {{ election.startDate }}</p>
  <p><strong>End Date:</strong> {{ election.endDate }}</p>


    <p><h3>Choose an option:</h3></p>
    <!-- The option should be included and Vote button-->
    <form action="{% url 'election:results' election.id %}" method="post">
    {% csrf_token %}
    {% for electionchoices in election.electionchoices_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choices.id }}" />
        <label for="choices{{ forloop.counter }}">{{ electionchoices.optionName }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" />
    </form>


{% endblock %}