<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>


    </style>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous">


</script>
</head>
<body >
    {% block navigation_menu %}
        {% include 'partials/navigation_menu.html' %}
    {% endblock %}

    {% block content %}
        
    {% endblock %}

    {% block footer %}
        <footer>
    <div class="container">
        <hr />
        <p class="text-center">Copyright © Ana-Maria's APPOO course work project 2017.</p>
    </div>
</footer>
    {% endblock %}


</body>



</html>