

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

    {% block navigation_menu %}
        {% include 'partials/navigation_menu.html' %}
    {% endblock %}


    <br>
    <br>
    <br>
    <div>
    <h1>List of elections</h1>
    <article>

    {% for election in elections %}

            <h2><a href="{% url 'election:election-detail' election.id %}">{{ election.name }}</a>  </h2>

            <div class="group1 col-sm-6 col-md-6">
                <span class="glyphicon glyphicon-eye-open"></span>  Status: {{ election.get_status_display }}
            </div>
        <div class="group2 col-sm-6 col-md-6">
                <span class="glyphicon glyphicon-time"></span>  End Date: {{ election.endDate  }}
        </div>
        <hr>
    <br />
        <p class="lead">{{ election.description }} </p>

    {% endfor %}

{% block footer %}
<footer>
    <div class="container">
        <hr />
        <p class="text-center">Copyright © Ana-Maria's APPOO course work project 2017</p>
    </div>
</footer>
    {% endblock %}
</body>
</html>