<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    {% block navigation_menu %}
        {% include 'partials/navigation_menu.html' %}
    {% endblock %}

<div class="container">
  <div class="jumbotron">
    <h1>Voting System</h1>
    <p> University online voting system. Allowing students and professors to vote from virtually anywhere.
        Go to election pages and choose the specific election to vote. </p>
  </div>

</div>

</body>
</html>